// NOTE: Try to keep this file as empty as possible. Use the elemenmts
// directory to target specific pages and elements.
html {
    body {
        color: $mg-color-text !important;
        overflow-x: hidden;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: $mg-font-size-base * 1.5;
}

h2 {
    font-size: $mg-font-size-base * 1.25;
}

h3 {
    font-size: $mg-font-size-base * 1.1;
    font-weight: 600;
}

// Less spacing between label and form inputs.
label {
    margin-bottom: $mg-spacer / 4;
}

.jumbotron {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $mg-header-font;
    }
}

.well {
    background-color: $mg-color-white;
    border: 0;
}

select {
    max-width: 300px;
}

.form-control {
    box-shadow: none !important;
}

.navbar-brand {
    align-items: center;
    background: $mg-navbar-brand-bg;
    line-height: $mg-navbar-height;
    padding: 0 $mg-spacer;
    vertical-align: middle;

    &:focus,
    &:hover {
        background: $mg-navbar-brand-bg !important;
    }

    img.molgenis-navbar-logo {
        display: inline-block;
        height: 32px;
        padding: 0;
    }
}

::selection {
    background: $mg-color-primary;
    color: $mg-color-white;
}

// Small helper classes to apply proper capitalizing without polluting translations.
.lc {text-transform: lowercase;}
.uc {text-transform: uppercase;}
.ca {text-transform: capitalize;}

.cf {
    display: inline-block;
    &::first-letter {text-transform: uppercase;}
}

.breadcrumb {
    background: none;
    color: $mg-color-text;
    padding: 0;
}

.select2-container {
    min-width: 250px !important;
}

button {
    .glyphicon {
        top: 2px !important;
    }
}

.required-field label::after {
    color: $mg-color-danger;
}

.alerts {
    bottom: $mg-spacer;
    min-width: 400px;
    position: fixed;
    right: $mg-spacer;
    z-index: 10000;
}

// Override
body {
    .select2-drop {
        color: $mg-color-text;
    }
}


@import 'molgenis/elements/**/*.scss'; /* stylelint-disable-line */
