// NOTE: Try to keep this file as empty as possible. Use the elemenmts
// directory to target specific pages and elements.
html {
    body {
        color: $mg-color-text;
        overflow-x: hidden;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: $mg-header-font;
    font-size: $mg-font-size-base * 1.5;
}

h2 {
    font-family: $mg-header-font;
    font-size: $mg-font-size-base * 1.25;
}

h3 {
    font-size: $mg-font-size-base * 1.1;
    font-weight: 600;
}

body .form-control::placeholder {
    color: $mg-color-text-muted;
}

// Less spacing between label and form inputs.
label {
    margin-bottom: $mg-spacer / 4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: $mg-page-bg !important;
    box-shadow: 0 0 0 1000px $mg-body-bg inset !important;
    -webkit-text-fill-color: $mg-color-text;
}

select {
    max-width: 300px;
}

.form-control {
    box-shadow: none !important;
}

.navbar-brand {
    align-items: center;
    background: $mg-navbar-brand-bg;
    line-height: $mg-navbar-height;
    padding: 0 $mg-spacer;
    vertical-align: middle;

    &:focus,
    &:hover {
        background: $mg-navbar-brand-bg !important;
    }

    img.molgenis-navbar-logo {
        display: inline-block;
        height: 32px;
        padding: 0;
    }
}

::selection {
    background: $mg-color-tertiary;
    color: $mg-color-white;
}

// Small helper classes to apply proper capitalizing without polluting translations.
.lc {text-transform: lowercase;}
.uc {text-transform: uppercase;}
.ca {text-transform: capitalize;}

.cf {
    display: inline-block;
    &::first-letter {text-transform: uppercase;}
}

.breadcrumb {
    background: none;
    color: $mg-color-text;
    padding: 0;
}


button {
    .glyphicon {
        top: 2px !important;
    }
}

.required-field label::after {
    color: $mg-color-danger;
}

.alerts {
    bottom: $mg-spacer;
    min-width: 400px;
    position: fixed;
    right: $mg-spacer;
    z-index: 10000;
}

@import 'molgenis/elements/**/*.scss'; /* stylelint-disable-line */
