// Molgenis & Bootstrap variables that we don't want to expose
// to themes, but are useful nevertheless to keep around.

$mg-color-grey-100: #fafafa !default;
$mg-color-grey-200: #e9ecef !default;
$mg-color-grey-300: #dee2e6 !default;
$mg-color-grey-400: #ced4da !default;
$mg-color-grey-500: #adb5bd !default;
$mg-color-grey-600: #6c757d !default;
$mg-color-grey-700: #495057 !default;
$mg-color-grey-800: #343a40 !default;
$mg-color-grey-900: #212529 !default;

$mg-color-text: $mg-color-grey-700 !default;
$text-muted: $mg-color-grey-500 !default;

// Calculate custom spaces based on this default spacer:
$mg-spacer: 16px !default;
$mg-font-path: '/@molgenis-ui/molgenis-theme/dist/fonts/' !default;

$mg-navbar-height: 50px;
$mg-navbar-font-weight: 400;

// Default navbar style ('brand') applies strong branding colors in the navbar.
// This works with bright colored themes like molgenis-blue & molgenis-green.
$mg-navbar-bg: $mg-color-secondary;
$mg-navbar-link-active-bg: $mg-color-primary;
$mg-navbar-link-active-color: $mg-color-primary-contrast;
$mg-navbar-link-color: $mg-color-secondary-contrast;
$mg-navbar-link-hover-bg: $mg-color-primary;
$mg-navbar-link-hover-color: $mg-color-secondary-contrast;

$mg-dropdown-bg: $body-bg;
$mg-dropdown-color: $mg-color-text;

// These two variables are not used in the current Molgenis menu,
// because the menu-items don't get an .active class as it should.
$dropdown-link-active-bg: $mg-color-primary;
$dropdown-link-active-color: $mg-color-primary-contrast;

$dropdown-link-color: $mg-color-text;
$dropdown-link-hover-bg: $mg-color-primary;
$dropdown-link-hover-color: $mg-color-primary-contrast;

// A more subtle navbar variant that works with lighter designs:
@if $mg-navbar-style == 'light' {
    $mg-navbar-bg: $mg-color-grey-200;
    $mg-navbar-link-active-bg: transparent;
    $mg-navbar-link-active-color: $mg-color-primary;
    $mg-navbar-link-color: $mg-color-grey-700;
    $mg-navbar-link-hover-bg: transparent;
    $mg-navbar-link-hover-color: $mg-color-primary;

    $dropdown-link-active-bg: transparent;
    $dropdown-link-active-color: $mg-color-primary;
    $dropdown-link-color: $mg-color-text;
    $dropdown-link-hover-bg: transparent;
    $dropdown-link-hover-color: $mg-color-primary;
}

// Use $mg-navbar-style to fit with the logo; this option is to override the
// logo background. Use it as a last resort, or better, don't use it.
$mg-logo-bg: transparent !default;

$table-cell-padding: $mg-spacer / 2;
$table-condensed-cell-padding: 10px;

$input-bg: $body-bg;
$input-disabled-bg: $body-bg;
$input-border: $mg-border-color;
$link-color: $mg-color-primary !default;
$input-color: $mg-color-text;

$pagination-active-bg: $mg-color-grey-900 !default;
$pagination-active-color: $mg-color-primary-contrast !default;

$pagination-border: $mg-border-color;
$pagination-disabled-border: $mg-border-color;

$pagination-hover-bg: $well-bg;
$pagination-hover-border: $mg-border-color;

$table-bg: $body-bg;
$jumbotron-bg: $well-bg;
$popover-bg: $well-bg;
$popover-border-color: $mg-border-color;
