.modal {
    .modal-header {
        background: $mg-header-bg;
    }

    .modal-title {
        color: $mg-header-color;
        font-family: $mg-header-font;

        .small {
            color: $mg-header-color;
            font-family: $mg-font-base;
        }
    }

    .modal-content {
        box-shadow: none;
        min-width: 500px;
    }
}

.modal-backdrop.show {
    background: #333;
    opacity: 0.8;
}
