.modal {
    .modal-title {
        color: $mg-color-primary;

        .small {
            color: $mg-color-primary;
        }
    }

    .modal-content {
        box-shadow: none;
        min-width: 500px;
    }
}

.modal-backdrop.show {
    background: #333;
    opacity: 0.8;
}
