// Override
body {
    .select2-drop {
        color: $mg-color-text;

        .select2-search {
            input {
                background: $mg-body-bg;
                border: 1px solid $mg-border-color;
                border-radius: 0;
                box-shadow: none;
                color: $mg-color-text;
                height: 34px !important;
                margin-top: $mg-spacer / 4;
            }
        }
    }

    .select2-container {
        min-width: 250px !important;

        .select2-choice {
            background: $mg-body-bg;
            border-color: $mg-border-color;
            border-radius: 0;
            box-shadow: none;
            color: $mg-color-text;

            .select2-arrow {
                border-left: 1px solid $mg-border-color;
                width: $mg-spacer * 2;

                b {
                    background-position: 8px 3px;
                }
            }
        }


        &.select2-dropdown-open {
            .select2-choice {
                .select2-arrow {
                    b {
                        background-position: -11px 3px !important;
                    }
                }
            }
        }
    }

    .select2-container-active {
        .select2-choice {
            border: 1px solid $mg-color-primary;
            box-shadow: none;
        }
    }

    .select2-drop {
        background: $mg-page-bg !important;
    }

    .select2-drop-active {
        border-color: $mg-color-primary;
    }
}


