.mg-table-no-items {
    font-style: italic;
    padding: $mg-spacer $mg-spacer / 2;
}

html body table.table {
    background: $table-bg !important;
    // border: 1px solid $mg-border-color;
    width: 100%;

    thead {
        th {
            background: $mg-body-bg;
            border-bottom: 0 solid $mg-border-color;
            border-top: 0;
            color: $mg-color-primary;
            font-family: $mg-font-sans-serif;
            font-size: $mg-font-size-small;
            line-height: $mg-navbar-height - $mg-spacer * 2;
            padding: $mg-spacer $mg-spacer / 2;
            user-select: none;
        }
    }

    tbody {
        tr {
            th,
            td {
                border: 0;
                padding: $mg-spacer $mg-spacer / 2;
                vertical-align: middle;

                a {
                    font-size: $mg-font-size-small;
                    font-weight: bold;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            &:first-child {
                td {
                    border-top: 0;
                }
            }


            &:hover {
                background: darken($mg-page-bg, 5%);
            }
        }
    }

    &.table-condensed {
        tbody tr td {
            padding: $mg-spacer / 1.5 $mg-spacer / 2;
        }
    }
}
