$border-radius: $mg-border-radius !default;
$border-radius-lg: $mg-border-radius * 2 !default;
$border-radius-sm: $mg-border-radius / 2 !default;

$dropdown-spacer: 0;
$dropdown-item-padding-x: 0;
$dropdown-item-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-padding-y: 0;

$input-height-base: $mg-input-height;

$info: $mg-color-info;
$primary: $mg-color-primary;
$secondary: $mg-color-secondary;

$navbar-light-active-bg: $mg-navbar-link-active-bg !default;
$navbar-light-active-color: $mg-navbar-link-active-color !default;
$navbar-light-color: $mg-navbar-link-color !default;
$navbar-light-hover-color: $mg-navbar-link-hover-color;
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

$red: $mg-color-danger;
$input-border-color: $mg-border-color;

$dropdown-bg: $mg-page-bg;
$dropdown-color: $mg-color-text;
$body-color: $mg-color-text !default;
$custom-control-indicator-checked-color: $mg-color-primary-contrast;

$light: $mg-body-bg;
$input-bg: $mg-body-bg;
$input-focus-color: $mg-color-text;
$input-focus-bg: $mg-page-bg;

$custom-control-indicator-border-color: $mg-border-color;
$list-group-bg: $mg-body-bg;
$list-group-color: $mg-color-primary;
$list-group-border-color: $mg-border-color;
$list-group-hover-bg: $mg-page-bg;
$list-group-action-hover-color: $mg-color-primary;
$list-group-active-bg: $mg-page-bg;
$grid-gutter-width: 0;
$modal-content-bg: $mg-page-bg;

$modal-header-padding-y: $mg-spacer / 2;
$modal-header-border-color: $mg-border-color;
$card-cap-bg: $mg-page-bg;
$card-bg: $mg-body-bg;
$card-border-color: $mg-border-color;

$hr-border-color: $mg-border-color;
$dropdown-border-color: $mg-border-color;

$theme-colors: (
    'tertiary': $mg-color-tertiary,
    'border': $mg-border-color
);

$colors: (
    'gray-light': $mg-color-grey-300
);
