/*!
 * Fancytree styling v2.37.0
 *
 * Manually combined and stripped styles from
 * https://unpkg.com/browse/jquery.fancytree@2.37.0/dist/skin-common.less
 * and
 * https://unpkg.com/browse/jquery.fancytree@2.37.0/dist/skin-bootstrap/ui.fancytree.less
 */

// Variables
$fancy-level-indent: 16px !default;
$fancy-font-family: $font-family-base;
$fancy-line-height: 1em;       // height of a nodes selection bar including borders
$fancy-node-v-spacing: 0;    // gap between two node borders
$fancy-icon-width: 1em;
$fancy-icon-height: 1em;
$fancy-icon-spacing: 0.5em;    // margin between icon/icon or icon/title
$fancy-icon-ofs-top: 2px;      // extra vertical offset for expander, checkbox and icon
$fancy-title-ofs-top: 0;     // extra vertical offset for title
$fancy-node-border-width: 1px;
$fancy-node-border-radius: $mg-border-radius;

$fancy-font-size: $font-size-base;
$fancy-font-color: $mg-color-text;
$fancy-font-color-dimm: $text-muted;
$fancy-font-error-color: $mg-color-danger;

$fancy-active-text: $mg-color-primary-contrast;
$fancy-active-color: $mg-color-primary;
$fancy-tree-hover-color: $mg-color-primary;

//------------------------------------------------------------------------------
// Mixins
//------------------------------------------------------------------------------
@mixin rounded-corners($radius) {
    border-radius: $radius;
}

/*------------------------------------------------------------------------------
 * Helpers
 *----------------------------------------------------------------------------*/
// Redefine, in case jQuery-UI is not included
// .ui-helper-hidden,
.fancytree-helper-hidden {
    display: none;
}

.fancytree-helper-disabled {
    color: $fancy-font-color-dimm;
}

/*------------------------------------------------------------------------------
 * Container and UL / LI
 *----------------------------------------------------------------------------*/

ul.fancytree-container {
    font-family: $fancy-font-family;
    font-size: $fancy-font-size;
    margin: 0; // DT issue 201
    // overflow: auto;  // ext-dnd5: otherwise this is always the scroll parent
    //	height: 100%; // DT issue 263, 470
    min-height: 0%; // #192
    padding: 3px;
    position: relative; // #235
    white-space: nowrap;

    ul {
        margin: 0;
        padding: 0 0 0 $fancy-level-indent;
    }

    ul > li::before {
        // #538
        content: none;
    }

    li {
        background-attachment: scroll;
        background-color: transparent;
        background-image: none; // no v-lines
        background-repeat: repeat-y;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;

        margin: 0;
        //		padding: 1px 0 0 0; // issue #246
    }
    // Suppress lines for last child node
    li.fancytree-lastsib {
        background-image: none;
    }
}

// Suppress lines for last child node
ul.fancytree-container li.fancytree-lastsib,
// Suppress lines if level is fixed expanded (option minExpandLevel)
ul.fancytree-no-connector > li {
    background-image: none;
}

// Fix jQuery UI 'blind' animation for jQuery UI (#717)
li.fancytree-animating {
    position: relative;
}

/*------------------------------------------------------------------------------
 * Common icon definitions
 *----------------------------------------------------------------------------*/

span.fancytree-empty,
span.fancytree-vline,
span.fancytree-expander,
span.fancytree-icon,
span.fancytree-checkbox,
// span.fancytree-radio,
span.fancytree-drag-helper-img,
#fancytree-drop-marker {
    display: inline-block; // Required to make a span sizeable
    height: $fancy-icon-height;
    vertical-align: top;
    width: $fancy-icon-width;
}

span.fancytree-icon,
span.fancytree-checkbox,
span.fancytree-expander,
// span.fancytree-radio,
span.fancytree-custom-icon {
    margin-top: $fancy-icon-ofs-top;
}
/* Used by icon option: */
span.fancytree-custom-icon {
    display: inline-block;
    height: $fancy-icon-height;
    margin-left: $fancy-icon-spacing;
    width: $fancy-icon-width;
}
/* Used by 'icon' node option: */
img.fancytree-icon {
    border-style: none;
    height: $fancy-icon-height;
    margin-left: $fancy-icon-spacing;
    margin-top: $fancy-icon-ofs-top;
    vertical-align: top;
    width: $fancy-icon-width;
}

.ui-fancytree {
    .fancytree-expander:hover,
    .fancytree-checkbox:hover,
    .fancytree-icon:hover,
    .fancytree-title:hover {
        color: $fancy-tree-hover-color;
        cursor: pointer;
    }
}

/*------------------------------------------------------------------------------
 * Expander icon
 *
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: fancytree-exp-
 * 1st character: 'e': expanded, 'c': collapsed, 'n': no children
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling
 *----------------------------------------------------------------------------*/

span.fancytree-expander {
    cursor: pointer;
}

// --- End nodes (use connectors instead of expanders)

.fancytree-exp-n span.fancytree-expander,
.fancytree-exp-nl span.fancytree-expander {
    cursor: default;
}

/* Fade out expanders, when container is not hovered or active */
.fancytree-fade-expander {
    span.fancytree-expander {
        opacity: 0;
        transition: opacity 1.5s;
    }

    &:hover span.fancytree-expander,
    &.fancytree-treefocus span.fancytree-expander,
    .fancytree-treefocus span.fancytree-expander,
    [class*='fancytree-statusnode-'] span.fancytree-expander {
        opacity: 1;
        transition: opacity 0.6s;
    }
}

/*------------------------------------------------------------------------------
 * Checkbox icon
 *----------------------------------------------------------------------------*/

span.fancytree-checkbox::before {
    // remove the glyphicon
    content: '' !important;
}

span.fancytree-checkbox {
    background-image: url('/img/icons-rtl.gif');
    background-position: 0 -32px;
    margin-left: $fancy-icon-spacing;

    &:hover {
        background-position: -16px -32px;
    }

    &.fancytree-radio {
        background-position: 0 -48px;
    }

    &.fancytree-radio:hover {
        background-position: -16px -48px;
    }
}

.fancytree-partsel {
    span.fancytree-checkbox {
        background-position: -64px -32px;
    }

    span.fancytree-checkbox:hover {
        background-position: -80px -32px;
    }

    span.fancytree-checkbox.fancytree-radio {
        background-position: -64px -48px;
    }

    span.fancytree-checkbox.fancytree-radio:hover {
        background-position: -80px -48px;
    }
}

.fancytree-selected {
    span.fancytree-checkbox {
        background-position: -32px -32px;
    }

    span.fancytree-checkbox:hover {
        background-position: -48px -32px;
    }

    span.fancytree-checkbox.fancytree-radio {
        background-position: -32px -48px;
    }

    span.fancytree-checkbox.fancytree-radio:hover {
        background-position: -48px -48px;
    }
}

// Unselectable is dimmed, without hover effects
.fancytree-unselectable {
    span.fancytree-checkbox {
        filter: alpha(opacity=40);
        opacity: 0.4;
    }
}

// Auto-hide checkboxes unless selected or hovered
.fancytree-container.fancytree-checkbox-auto-hide {
    span.fancytree-checkbox {
        visibility: hidden;
    }

    .fancytree-node:hover span.fancytree-checkbox,
    tr:hover td span.fancytree-checkbox,
    .fancytree-node.fancytree-selected span.fancytree-checkbox,
    tr.fancytree-selected td span.fancytree-checkbox {
        visibility: unset;
    }

    &.fancytree-treefocus {
        .fancytree-node.fancytree-active span.fancytree-checkbox,
        tr.fancytree-active td span.fancytree-checkbox {
            visibility: unset;
        }
    }
}

/*------------------------------------------------------------------------------
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: fancytree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 *----------------------------------------------------------------------------*/

span.fancytree-icon {
    // Default icon
    margin-left: $fancy-icon-spacing;
}

/*------------------------------------------------------------------------------
 * Node titles and highlighting
 *----------------------------------------------------------------------------*/

span.fancytree-node {
    /* See #117 */
    display: inherit; // #117, resolves to 'display: list-item;' for standard trees
    margin-top: $fancy-node-v-spacing;
    min-height: $fancy-line-height;
    width: 100%;
}

span.fancytree-title {
    @include rounded-corners($fancy-node-border-radius);
    // margin: 0px;
    // margin-top: $fancy-line-ofs-top;
    // margin-left: $fancy-icon-spacing;
    border: $fancy-node-border-width solid transparent; // avoid jumping, when a border is added on hover
    color: $fancy-font-color; // inherit doesn't work on IE
    cursor: pointer;
    display: inline-block; // Better alignment, when title contains <br>
    margin: $fancy-title-ofs-top 0 0 $fancy-icon-spacing;
    min-height: $fancy-line-height;
    padding: 0 3px; // Otherwise italic font will be outside right bounds
    vertical-align: top;
    //  outline: 0; // $ Firefox, prevent dotted border after click
    // Set transparent border to prevent jumping when active node gets a border
    //	   (we can do this, because this theme doesn't use vertical lines)
    //	border: 1px solid white; // Note: 'transparent' would not work in IE6
}

span.fancytree-node.fancytree-error span.fancytree-title {
    color: $fancy-font-error-color;
}

//------------------------------------------------------------------------------

/*******************************************************************************
 * Plain tree
 * Modifier classes on <ul> container:
 * table-hover                : Enable a light mouse hover effect
 * fancytree-colorize-selected: Give selected (checked) rows a color
 */
ul.fancytree-container ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}
/* Prevent focus frame */
.fancytree-container:focus {
    outline: none;
}

.fancytree-expanded span.fancytree-expander {
    color: $fancy-font-color;
}
