#plugin-container {
    #menu-editor-tree {
        max-height: unset !important;

        ol {
            &.vertical li {
                background: $mg-color-grey-200;
            }

            li {
                border: 0;
                color: $mg-color-primary !important;
                padding: $mg-spacer / 4;

                &.highlight {
                    background: $mg-color-grey-100;
                }
            }
        }
    }
}
