.navbar-default {
    background: $mg-color-white;
    border: 0;
    box-shadow: 0 1px 1px $mg-border-color;

    #language-select-box {
        display: none !important;
    }

    .navbar-nav {
        > li > a {
            padding-left: 16px;
            padding-right: 16px;
        }

        .open {
            .dropdown-menu {
                max-height: inherit;

                li a {
                    padding: 0.75rem 1rem;
                }
            }
        }


        .dropdown.open > a {
            background: $mg-navbar-link-active-bg;
            color: $mg-navbar-link-active-color;
        }


        .dropdown-toggle {
            .caret {
                display: none;
            }

            &::after {
                border-bottom: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid;
                content: '';
                display: inline-block;
                margin-left: 4px;
                margin-top: 22px;
                position: absolute;
                top: 0;
            }
        }
    }
}

.dropdown-menu {
    // Bootstrap 3 adds a shadow by default.
    box-shadow: $mg-box-shadow;
}
