.navbar-default {
    background: $mg-navbar-bg;
    border: 0;
    min-height: $mg-navbar-height;

    .navbar-nav {
        li {
            font-weight: $mg-navbar-font-weight;
            vertical-align: middle;
        }

        > li > a {
            height: $mg-navbar-height;
            line-height: $mg-navbar-height;
            padding: 0 $mg-spacer;
            vertical-align: middle;
        }

        .open {
            .dropdown-menu {
                background: $mg-dropdown-bg;
                max-height: inherit;

                li a {
                    padding: 0.75rem 1rem;
                }
            }
        }

        .dropdown.open > a {
            background: $mg-navbar-link-active-bg;
            color: $mg-navbar-link-active-color;
        }


        .dropdown-toggle {
            .caret {
                display: none;
            }

            &::after {
                border-bottom: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid;
                content: '';
                display: inline-block;
                margin-left: 4px;
                margin-top: 24px;
                position: absolute;
                top: 0;
            }
        }
    }

    // Keep logout button in sync with Bootstrap 4 and different html.
    #logout-form {
        button {
            background: none;
            border-color: $mg-navbar-link-color;
            color: $mg-navbar-link-color;

            &:hover {
                background: $mg-color-primary;
                border-color: $mg-color-primary;
                color: $mg-color-primary-contrast;
            }
        }
    }

    // The mobile menu
    @media (max-width: #{$grid-float-breakpoint}) {
        background: $mg-navbar-bg;

        .navbar-toggle {
            margin-right: $mg-spacer / 2;
        }

        .navbar-collapse {
            background: $mg-navbar-bg;
        }

        .navbar-nav {
            margin: 0;

            li a {
                padding-left: $mg-spacer !important;
            }
        }

        .navbar-collapse {
            border: 0;
            border-bottom: 2px solid $mg-color-grey-500;
            padding: 0;
        }

        // Empty language select.
        .navbar-form:not(#logout-form) {
            display: none;
        }

        .navbar-form {
            border: 0;
            margin: 0;
            padding: $mg-spacer;
        }

        .navbar-nav .open .dropdown-menu {
            background: $mg-color-grey-200;
            border: 1px solid $mg-border-color;

            li a {
                line-height: $mg-navbar-height;
                padding-bottom: 0;
                padding-top: 0;
            }
        }
    }
}

.dropdown-menu {
    // Bootstrap 3 adds a shadow by default.
    box-shadow: $mg-box-shadow;

    li {
        a {
            font-weight: $mg-navbar-font-weight;
        }
    }
}
