$mg-color-primary: #017ffd; // "MAIN BLUE"
$mg-color-secondary: #005ec4; // "SUB BLUE"

@font-face {
    font-family: 'bebas_neueregular';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/BebasNeue/BebasNeue-Regular.ttf') format('ttf'), url('/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'), url('/fonts/BebasNeue/BebasNeue-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IBM_Plex_sans';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('ttf'), url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2') format('woff2'), url('/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IBM_Plex_mono';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('ttf'), url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2') format('woff2'), url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/fontawesome-webfont.674f50d.eot');
    src: url('/fonts/fontawesome-webfont.674f50d.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.af7ae50.woff2') format('woff2'), url('/fonts/fontawesome-webfont.fee66e7.woff') format('woff'), url(/fonts/fontawesome-webfont.b06871f.ttf) format('truetype'), url(/img/fontawesome-webfont.912ec66.svg#fontawesomeregular) format('svg');
}
