$mg-color-primary: #08205c;
$mg-color-secondary: #6c757d;

$mg-font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mg-font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mg-font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$mg-header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$mg-border-radius: 4px;
$mg-box-shadow: none;
$mg-body-bg: #fff;
$mg-header: #fff;

$mg-navbar-link-active-bg: #e7e7e7;
$mg-navbar-link-active-color: #555;
$mg-navbar-link-color: #777;
$mg-navbar-link-hover-bg: #e7e7e7;
$mg-navbar-link-hover-color: #555;

$mg-color-danger: #eb0a24;
$mg-color-warning: #feb539;
$mg-color-info: #04a4ac;
$mg-border-color: #bbc2c9;


$link-color: #004275;
$link-hover-color: #939fad;

// GBN grey                       RGB: 147|159|173  | #939fad
// Yellow                         RGB: 254|181|57   | #feb639
// Red                            RGB: 235|10|38    | #eb0a24
// Dark-blue                      RGB: 8|32|92      | #08205c
// Petrol                         RGB: 4|164|172    | #04a4ac
// GBN grey 60%                   RGB: 187|194|201  | #bbc2c9
// GBN grey 15%                   RGB: 216|220|224  | #d8dce0
