.select2-results {
    background: $mg-page-bg;

    .select2-highlighted {
        background: $mg-color-tertiary !important;
        color: $mg-color-tertiary-contrast !important;
    }
}

a:focus,
.btn {
    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: 0;
        }
    }
}


.panel {
    border: 1px solid $mg-border-color;
    margin-bottom: $mg-spacer * 2;

    &.panel-primary {
        .panel-heading {
            background: $mg-color-tertiary;
            border-bottom: 1px solid $mg-border-color;
            color: $mg-header-color;
            font-size: $mg-font-size-large;
            font-weight: bold;
            height: $mg-header-height;
            line-height: $mg-header-height;
            padding: 0 $mg-spacer;

            .panel-title {
                display: inline-block;
                font-size: $mg-font-size-large;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

.data-table-container {
    // Data Explorer 1 table container
    > div {
        background: $mg-page-bg;
    }

    table {
        margin-bottom: 0;
        margin-top: 0 !important;
    }
}

.data-table-pager-container {
    margin-top: $mg-spacer;

    .pull-right {
        float: left !important;
    }
}

// Give tables more space by default.
table.table {
    thead {
        th {
            padding: $mg-spacer / 2;
            vertical-align: middle;
        }
    }

    tbody {
        td {
            padding: $mg-spacer / 2;
        }
    }
}



// Adjust vertical icon offset.
.glyphicon {
    top: 3px;
}

body {
    .nav-tabs {
        li {
            font-size: $mg-font-size-small;
            font-weight: 600;
            margin-bottom: -3px;

            a {
                border: 0 !important;
                color: $mg-color-text;
                padding: $mg-spacer;
            }
        }
    }
}


.nav-pills[role='tablist']:not(.nav-stacked) {
    border-bottom: 1px solid $mg-color-tertiary;
}

.well {
    box-shadow: none;
}

// Bootstrap 3 has padding hardcoded. Override it here.
.dropdown-menu {
    padding: 0;
}

.modal-header {
    // background: $mg-color-tertiary;
    border-bottom: 0;
    color: $mg-color-text;
}

.well-sm {
    padding: $mg-spacer $mg-spacer;
}

::selection {
    background: $mg-color-tertiary;
    color: $mg-color-tertiary-contrast;
}
