.select2-results .select2-highlighted {
    background: $mg-color-primary-light !important;
    color: $mg-color-primary !important;
}

.panel {
    border: 1px solid $mg-border-color;
    margin-bottom: $mg-spacer * 2;

    &.panel-primary {
        .panel-heading {
            background: $mg-color-primary-light;
            border-bottom: 1px solid $mg-border-color;
            color: $mg-header-color;
            font-size: $mg-font-size-large;
            font-weight: bold;
            height: $mg-header-height;
            line-height: $mg-header-height;
            padding: 0 $mg-spacer;

            .panel-title {
                display: inline-block;
                font-family: $mg-header-font;
                font-size: $mg-font-size-large;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}


.data-table-container {
    // Data Explorer 1 table container
    > div {
        background: $mg-color-white;
        padding: $mg-spacer / 4;
    }

    table {
        margin-bottom: 0;
        margin-top: 0 !important;
    }
}

.data-table-pager-container {
    margin-top: $mg-spacer;

    .pull-right {
        float: left !important;
    }
}

// Give tables more space by default.
table.table {
    thead {
        th {
            padding: $mg-spacer / 2;
            vertical-align: middle;
        }
    }

    tbody {
        td {
            padding: $mg-spacer / 2;
        }
    }
}

// Center visible modals vertically.
.modal-open {
    .modal.in {
        align-items: center;
        display: flex !important;
        height: 100%;
        justify-content: center;


        .modal-body {
            max-height: 90vh;
            overflow-y: auto;
        }
    }
}

// Adjust vertical icon offset.
.glyphicon {
    top: 3px;
}


.nav-tabs {
    li {
        font-size: $mg-font-size-small;
        font-weight: 600;

        a {
            padding: $mg-spacer;
        }

        &.active {
            a {
                color: $mg-color-text;
            }
        }
    }

    img {
        display: none;
    }
}

.well {
    box-shadow: none;
}

// Bootstrap 3 has padding hardcoded. Override it here.
.dropdown-menu {
    padding: 0;
}

.modal-header {
    border-bottom: 0;
}

.well-sm {
    padding: $mg-spacer $mg-spacer;
}
