@import '../variables';
@import './variables';
@import 'bootstrap';

@import '../custom';
@import './custom';

@import 'molgenis/theme-3/elements/**/*.scss'; /* stylelint-disable-line */
@import 'molgenis/theme-3/modules/**/*.scss'; /* stylelint-disable-line */
