$border-radius-base: $mg-border-radius !default;
$border-radius-small: $mg-border-radius / 2 !default;
$border-radius-large: $mg-border-radius * 2 !default;

$brand-info: $mg-color-primary;
$brand-primary: $mg-color-primary !default;
$brand-success: $mg-color-primary !default;

$gray-base: $mg-color-text;
$gray-darker: $mg-color-grey-900;
$gray-dark: $mg-color-grey-700;
$gray: $mg-color-grey-700;
$gray-light: $mg-color-grey-400;
$gray-lighter: $mg-color-grey-100;

$grid-float-breakpoint: 1000px;
$grid-float-breakpoint-max: 1300px;
$grid-gutter-width: 16px;

$icon-font-path: $mg-font-path;

$input-border: $mg-color-grey-400;
$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$input-border-focus: $mg-color-primary;

$pager-border-radius: $mg-border-radius;

$panel-body-padding: $mg-spacer;
$panel-border-radius: 0;
$panel-heading-padding: 0;
$panel-primary-border: 0;
$panel-primary-heading-bg: $mg-header-bg;
$panel-primary-text: $mg-header-color;

// TODO: Remove important, once theme-loading is cleaned up.
// See https://wiki.gcc.rug.nl/ticket/7600
$navbar-default-link-active-bg: $mg-navbar-link-active-bg !important;
$navbar-default-link-active-color: $mg-navbar-link-active-color;
$navbar-default-link-color: $mg-navbar-link-color;
$navbar-default-link-hover-bg: $mg-navbar-link-hover-bg;
$navbar-default-link-hover-color: $mg-navbar-link-hover-color;

$navbar-height: $mg-navbar-height;

$nav-tabs-border-color: $mg-color-grey-200;
$nav-tabs-active-link-hover-bg: $mg-color-white;
$nav-tabs-active-link-hover-color: $mg-color-primary;
$nav-tabs-active-link-hover-border-color: $mg-color-grey-200;

// Disable striped tables.
$table-bg: none;
$table-bg-accent: none;

$well-border: $mg-color-grey-200;
$nav-link-hover-bg: $mg-color-grey-100;

$form-group-margin-bottom: $mg-spacer * 2;
$well-bg: $mg-color-grey-100;
$well-border: $mg-border-color;

$btn-danger-bg: $mg-color-danger;
$btn-default-bg: $mg-color-grey-700;
$btn-default-color: $mg-color-grey-100;

// More contrast for badges.
$badge-bg: $mg-color-grey-700;
$pager-bg: $mg-color-grey-100;

$pager-disabled-color: $mg-color-grey-500;
$pagination-disabled-color: $mg-color-grey-500;
$pagination-disabled-bg: $mg-color-grey-100;

$navbar-collapse-max-height: unset;
// The Bootstrap 4 navbar switches to mobile menu when the content
// starts to overflow in its container. For Bootstrap 3, a higher
// breakpoint than usual is used instead.
$grid-float-breakpoint: 1127px;

$nav-pills-active-link-hover-bg: $mg-color-primary-light;
$nav-pills-active-link-hover-color: $mg-color-text;
