$border-radius-base: $mg-border-radius !default;
$border-radius-small: $mg-border-radius / 2 !default;
$border-radius-large: $mg-border-radius * 2 !default;

$brand-info: $mg-color-primary;
$brand-primary: $mg-color-primary !default;
$brand-success: $mg-color-primary !default;

$gray-base: $mg-color-text;
$gray-darker: $mg-color-grey-900;
$gray-dark: $mg-color-grey-700;
$gray: $mg-color-grey-700;
$gray-light: $mg-color-grey-400;
$gray-lighter: $mg-color-grey-100;

$grid-float-breakpoint: 1000px;
$grid-float-breakpoint-max: 1300px;
$grid-gutter-width: 16px;

$icon-font-path: $mg-font-path;

$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$input-border-focus: $mg-color-primary;

$pager-border-radius: $mg-border-radius;

$panel-body-padding: $mg-spacer;
$panel-border-radius: 0;
$panel-heading-padding: 0;
$panel-primary-border: 0;
$panel-primary-heading-bg: $mg-header-bg;
$panel-primary-text: $mg-header-color;

// TODO: Remove important, once theme-loading is cleaned up.
// See https://wiki.gcc.rug.nl/ticket/7600
$navbar-default-link-active-bg: $mg-navbar-link-active-bg !important;
$navbar-default-link-active-color: $mg-navbar-link-active-color;
$navbar-default-link-color: $mg-navbar-link-color;
$navbar-default-link-hover-bg: $mg-navbar-link-hover-bg;
$navbar-default-link-hover-color: $mg-navbar-link-hover-color;

$navbar-height: $mg-navbar-height;

$nav-tabs-border-color: $mg-color-grey-200;
$nav-tabs-active-link-hover-bg: $mg-color-white !default;
$nav-tabs-active-link-hover-color: $mg-color-grey-800 !default;
$nav-tabs-active-link-hover-border-color: $mg-border-color;
$nav-tabs-border-color: $mg-border-color;

// Disable striped tables.

$table-bg-accent: none !default;

$card-bg: $mg-page-bg !default;
$card-color: $mg-color-grey-400;

$well-border: $mg-color-grey-200;
$nav-link-hover-bg: $mg-color-grey-100 !default;

$form-group-margin-bottom: $mg-spacer * 2;
$well-bg: $mg-color-grey-100 !default;
$well-border: $mg-border-color;

// More contrast for badges.
$badge-bg: $mg-color-grey-700;
$pager-bg: $mg-body-bg;

$pager-disabled-color: $mg-page-bg;

$navbar-collapse-max-height: unset;
// The Bootstrap 4 navbar switches to mobile menu when the content
// starts to overflow in its container. For Bootstrap 3, a higher
// breakpoint than usual is used instead.
$grid-float-breakpoint: 1127px;

$nav-pills-active-link-hover-bg: $mg-color-tertiary;
$nav-pills-active-link-hover-color: $mg-color-text;

// $btn-primary-color: $mg-color-text;
$nav-tabs-link-hover-border-color: none;
$modal-content-bg: $mg-page-bg;

$btn-danger-bg: $mg-color-danger;

$btn-default-bg: desaturate(darken($mg-color-secondary, 5%), 35%) !default;
$btn-default-border: darken($btn-default-bg, 5%);
$btn-default-color: $mg-color-grey-100 !default;

$btn-primary-bg: $mg-color-primary;
$btn-primary-color: $mg-color-primary-contrast;

// $btn-success-bg: $mg-color-primary;
$btn-success-color: $mg-color-primary-contrast;
// $btn-success-border: $mg-color-primary-contrast;

$btn-info-bg: $mg-color-secondary;
$bgn-info-color: $mg-color-secondary-contrast;

$dropdown-link-color: $mg-color-text;
$dropdown-bg: $mg-page-bg;
$panel-bg: $mg-body-bg;
$legend-color: $mg-color-primary;
$legend-border-color: $mg-border-color;
$hr-border: $mg-border-color;

$nav-pills-active-link-hover-color: $mg-color-tertiary-contrast;
