$mg-color-primary: #ec6707;
$mg-color-secondary: #004275;
$mg-color-tertiary: #004275;
$mg-color-tertiary-contrast: lighten($mg-color-tertiary, 60%);

$mg-font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mg-font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mg-font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$mg-header-bg: #fff;
$mg-header-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$mg-border-radius: 4px;
$mg-box-shadow: none;
$mg-body-bg: #fff;

$mg-navbar-link-active-bg: #e7e7e7;
$mg-navbar-link-active-color: #555;
$mg-navbar-link-color: #777;
$mg-navbar-link-hover-bg: #e7e7e7;
$mg-navbar-link-hover-color: #555;

$mg-color-danger: #eb0a24;
$mg-color-warning: #ec6707;
$mg-color-info: #04a4ac;
$mg-border-color: #bbc2c9;

$link-color: #004275;
$link-hover-color: #939fad;
