$mg-color-primary: #ec6707;
$mg-color-secondary: #08205c;

$mg-color-danger: #dc3545;
$mg-color-warning: #ec6707;
$mg-color-info: #017ffd;
$mg-border-color: #bbc2c9;

$link-color: #ec6707;
$link-hover-color: #a24705;
