.mod-dataexplorer {
    // Data Explorer top well
    #selectors {
        // Give fancy tree more container space.
        .row:nth-child(3) {
            .panel {
                margin-bottom: 0;

                .panel-body {
                    padding: 0;
                }
            }

        }
    }

    #entity-class {
        #entity-package-path,
        #delete-dropdown-container,
        #dataset-select-container,
        #entity-class-description,
        #entity-class-name {
            display: inline-block;
            height: $mg-header-height;
            line-height: $mg-header-height;
            margin: 0;
            padding: 0;
        }


        > .row {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0 $mg-spacer / 2;

            .col-md-7 {
                display: flex;
                padding: 0;

                #entity-class-name {
                    margin-right: $mg-spacer;
                    white-space: nowrap;
                }

                #entity-class-description {
                    font-size: $mg-font-size-mini;
                    font-weight: 600;
                    margin-left: $mg-spacer;
                    white-space: nowrap;

                    span {
                        text-overflow: ellipsis;
                    }
                }
            }

            .col-md-4 {
                align-items: center;
                display: flex;
                justify-content: flex-end;
            }
        }

        #delete-dropdown-container,
        #dataset-select-container {
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }
    }

    .edit-settings {
        font-size: 2rem;
        padding: $mg-spacer / 2;
        padding-top: 0;
        position: absolute;
        top: $mg-navbar-height + ($mg-spacer * 1.25);

        span:hover {
            color: $mg-color-primary;
            cursor: pointer;
        }
    }




    #feature-select {
        .control-label {
            line-height: $mg-input-height;
        }
    }

    // Molgenis origin: /css/jquery.molgenis.tree.css
    .refentitynode span.fancytree-icon,
    .refentitynode span.fancytree-icon:hover {
        background-position: -32px -160px !important;
    }

    .nofilter {
        span.fancytree-icon,
        span.fancytree-icon:hover {
            background-image: none !important;
            cursor: default !important;
        }

        span.fancytree-title {
            cursor: default;
        }
    }


    // Molgenis origin: /css/dataexplorer.css
    .modal-xxl {
        width: 90%;

        .modal-body {
            overflow: auto;
        }
    }

    #dataset-select-label {
        font-size: 15.4px;
        margin-right: 10px;
    }

    #feature-selection label {
        display: inline;
    }

    #genomebrowser {
        visibility: hidden;
    }

    #observationset-search-container {
        padding-bottom: 15px;
        text-align: center;
    }

    .feature-filter-remove {
        margin-left: 4px;

        .ui-icon-closethick {
            background-image: url('images/ui-icons_cd0a0a_256x240.png');
            display: inline-block;
            vertical-align: middle;
        }
    }

    #feature-selection .molgenis-tree {
        height: 367px;
        margin-bottom: 10px;
        overflow: auto;
    }

    #aggregatesContainer {
        clear: both;
    }

    // See for example the rd-connect aggregate table
    #aggregate-table-container {
        overflow: auto;

        th {
            background-color: $mg-color-primary;
            color: $mg-color-white;
        }
    }

    #dataexplorer-aggregate-data table {
        background: #ddd;
        margin-top: 20px;
    }

    .viewer {
        cursor: pointer;
    }

    .view-disabled {
        display: none;
    }

    .view-enabled {
        display: block;
    }

    #dataDiv {
        border-radius: 3px;
        float: left;
        height: 26px;
        text-align: center;
        width: 90px;
    }

    #aggregateDiv {
        float: left;
        height: 26px;
        width: 90px;
    }

    #filter-nav-content {
        margin-top: 25px;
    }

    #feature-select-container .row {
        margin-top: 10px;
    }

    #filter-nav li a:hover {
        cursor: default;
    }

    #feature-selection {
        .fancytree-ico-e span.fancytree-icon {
            background-image: url('/img/filter-bw.png');
            background-position: 0 0;
        }

        .fancytree-ico-e span.fancytree-icon:hover {
            background-image: url('/img/filter-bw.png');
            background-position: 0 0;
            cursor: pointer;
        }
    }

    .molgenis-xrefmrefsearch .select2-result {
        color: #333;
        font-size: 12px;
        padding: 2px;
        vertical-align: top;
    }

    .select2-input {
        width: 100% !important;
    }

    .molgenis-xrefmrefsearch .select2-results .select2-highlighted {
        background: #04c;
        color: #fff;
    }

    .molgenis-xrefmrefsearch.select2-drop-active {
        border: 1px solid #5897fb !important;
        overflow-x: visible !important;
        width: auto !important;

        .select2-no-results {
            width: 100%;
        }

        .select2-result-selectable {
            width: 600px;
        }
    }

    .select2-drop {
        margin-top: -1px;
    }

    .select2-container {
        min-width: 16rem;
    }


    .molgenis-xrefmrefsearch .add-ref-query-part,
    .remove-ref-query-part {
        margin-left: 10px;
    }

    span.fancytree-node {
        border: none;
    }

    ul.fancytree-container {
        border: none;
        outline: none;
        padding: 0;
    }

    .bootstrap-switch {
        min-width: 70px;
        width: 70px;
    }

    #slider {
        margin: 0 25px;
        width: 400px;
    }

    .form-horizontal .controls {
        display: inline-block;
        margin-left: 0;
        padding-left: 15px;
        vertical-align: top;
    }

    .ui-rangeSlider-bar {
        background-color: #5b82a4;
    }

    .ui-editRangeSlider-inputValue {
        width: 4em;
    }

    #entity-class h3 {
        display: inline;
        margin-right: 10px;
    }

    .table-hover tbody tr:hover {
        td,
        th {
            background-color: #7cbad1;
        }
    }

    .table-hover {
        cursor: pointer;
    }

    #chartCreationButtons {
        padding-top: 10px;
    }

    .molgenis-table {
        margin-bottom: 0;
    }

    .molgenis-table-pager .pagination {
        margin: 0;
    }

    // stylelint-disable-next-line
    .togglediv_border {
        border: 1px solid;
        border-color: #c0c0c0;
    }

    // stylelint-disable-next-line
    .togglediv_grey {
        background-color: #f6f6f6;
    }

    // stylelint-disable-next-line
    .togglediv_lightgreen {
        background-color: #d6ffdb;
    }

    // stylelint-disable-next-line
    .togglediv_green {
        background-color: #8eff9b;
    }

    // stylelint-disable-next-line
    .togglediv_red {
        background-color: #fdd;
    }

    // stylelint-disable-next-line
    .togglediv_blue {
        background-color: #dde4ff;
    }


    // Molgenis origin: /css/dataexplorer-filter.css
    #filter-wizard-modal {
        .well {
            margin-bottom: 10px;
            max-width: 100%;
            min-height: 490px;
            overflow: auto;
            overflow-x: hidden;
        }

        .pager {
            margin-bottom: 0;
            margin-top: 0;
        }

        .wizard-steps {
            margin-bottom: 10px;
        }

        .form-horizontal .form-group .select2-choices {
            position: static;
        }
    }

    .filter-wizard-fixed-height {
        min-height: 365px;
    }

    #filter-wizard-modal-label {
        display: inline-block;
    }

    #filter-modal .modal-body {
        min-height: 250px;
        padding-bottom: 0;
    }

    #filter-modal .form-horizontal .form-group .select2-choices {
        position: static;
    }

    #filter-wizard-modal .controls.complex-removebutton-container,
    #filter-wizard-modal .controls.complex-addbutton-container,
    #filter-modal .controls.complex-removebutton-container,
    #filter-modal .controls.complex-addbutton-container {
        padding-left: 0;
    }

    #filter-wizard-modal .xrefmrefsearch.complex-simplefilter input.select2-input,
    #filter-modal .xrefmrefsearch.complex-simplefilter input.select2-input {
        padding-bottom: 3px !important;
        padding-top: 3px !important;
    }

    #filter-wizard-modal .xrefmrefsearch div.input-group-addon,
    #filter-modal .xrefmrefsearch div.input-group-addon {
        border: 0;
        padding: 0;
    }

    #filter-wizard-modal .xrefmrefsearch div.input-group-addon>button,
    #filter-modal .xrefmrefsearch div.input-group-addon>button {
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 4px !important;
        border-top-right-radius: 0 !important;
    }

    #filter-wizard-modal div.group-append.date.input-group,
    #filter-modal div.group-append.date.input-group,
    #filter-wizard-modal div.checkbox,
    #filter-modal div.checkbox,
    #filter-wizard-modal div.filter-radio-inline-container,
    #filter-modal div.filter-radio-inline-container,
    #filter-wizard-modal div.controls.complex-element,
    #filter-modal div.controls.complex-element,
    #filter-modal div.xrefmrefsearch {
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
    }

    .complex-addbutton-container > button,
    .complex-removebutton-container > button {
        margin-left: 5px;
    }

    .ui-rangeSlider-label-value {
        color: $mg-color-grey-900;
    }

    .complex-filter-container {
        .form-group {
            margin: 0;
        }
    }
}
