.mod-mappingservice {
    #mapping-projects-tbl {
        tr {
            td:first-child {
                display: flex;
            }
        }
    }

    .attribute-mapping-table-container {
        overflow-x: auto;
    }

    #edit-algorithm-container {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    // stylelint-disable-next-line
    .ace.readonly .ace_cursor {
        display: none;
    }

    .clone-btn {
        margin-left: 5px;
    }

    .validation-errors-anchor {
        color: $mg-color-white !important;
    }

    .validation-error-messages-table {
        display: block;
        height: 500px;
        overflow-y: scroll;
    }

    .highlight {
        background-color: $mg-color-primary;
        border-radius: 2px;
        color: $mg-color-white;
        padding: 3px;
    }

    .table-borderless {
        width: 100%;
    }

    .td-align-top {
        padding-top: 5px;
        vertical-align: top;
    }

    .algorithm-color-legend {
        border-radius: 5px;
        font-weight: bold;
        padding-bottom: 6px;
        padding-top: 6px;
        width: 50%;
    }
}
