.mod-permissionmanager {
    // Source: /css/permissionmanager.css (/menu/admin/permissionmanager)
    // Unstyle inconsistent use of well.
    .well {
        border: 0;
        padding: $mg-spacer;
    }

    .form-group {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: $mg-spacer;
    }

    .permission-table-container {
        max-height: 500px;
        overflow-y: scroll;
    }

    .inherited-permission {
        font-style: italic;
        padding-left: 20px;
    }
}

