$mg-color-primary: #ffc107;
$mg-color-secondary: #337ab7;

$mg-color-danger: #dc3545;
$mg-color-warning: #ffc107;
$mg-color-info: #017ffd;
$mg-border-color: #bbc2c9;

$link-color: #337ab7;
$link-hover-color: #22527b;
