$mg-color-primary: #005c8f;
$mg-color-primary-light: #0069a4;

$mg-font-base: 'Varela Round Regular';
$mg-font-sans-serif: 'Varela Round Regular';
$mg-font-mono: 'Varela Round Regular';
$mg-header-font: 'Varela Round Regular';
