
$mg-color-primary: #5c9966;
$mg-color-primary-light: #e9ecef;

$mg-font-base: sans-serif;
$mg-font-sans-serif: sans-serif;
$mg-font-mono: sans-serif,monospace;
$mg-header-font: sans-serif;

$mg-font-size-base: 0.8;
$mg-body-bg: #fff;
