$mg-color-primary: #10adcd;
$mg-color-secondary: #e29924;

$mg-navbar-link-active-bg: #fff;
$mg-navbar-link-active-color: $mg-color-secondary;
$mg-navbar-link-color: $mg-color-primary;
$mg-navbar-link-hover-bg: #fff;
$mg-navbar-link-hover-color: $mg-color-secondary;

$mg-font-base: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
$mg-font-sans-serif: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
$mg-font-mono: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
$mg-header-font: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
