.mod-data-row-edit {
    legend {
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    hr {
        margin: 0;
        margin-bottom: $mg-spacer;
    }

    .form-group {
        > label {
            font-weight: 600;
        }
    }

    .dropdown {
        max-width: 350px;

        .dropdown-toggle {
            min-height: 35px !important;
        }
    }

    .v-select {
        .dropdown-toggle {
            background: $mg-body-bg !important;
            border: 1px solid $mg-border-color;
        }

        .dropdown-menu {
            background: $mg-page-bg;
            color: $mg-color-text;

            >.highlight>a {
                background: $mg-color-primary;
                color: $mg-color-primary-contrast;
            }
        }
    }
}
