.mod-navigator {
    .custom-control-inline {
        margin-right: 0;

    }

    .navigator-search {
        justify-content: flex-start !important;
        margin-bottom: $mg-spacer * 2;
    }

    .navigator-actions {
        span {
            float: left;
        }

        .float-right {
            float: left !important;
        }
    }

    table {
        thead {
            th {
                height: 50px;
                line-height: initial !important;
                vertical-align: middle;
            }
        }

        a {
            color: $mg-color-text;

            &:hover {
                color: $mg-color-primary;
            }
        }
    }
}
