.mod-settings {
    legend,
    h1,
    h2 {
        color: $mg-color-primary;
        font-family: $mg-header-font;
    }

    .form-group {
        > label {
            font-weight: 600;
        }
    }
}
