$mg-color-primary: #353535;
$mg-color-primary-light: #d5f9e6;
$mg-color-secondary: #72f6b2;

$mg-navbar-bg: #353535;
$mg-navbar-link-color: #fff;
$mg-navbar-link-hover-bg: #d5f9e6;
$mg-navbar-link-active-bg: #72f6b2;

$dropdown-link-color: #353535;
