// This is an experimental dark-theme for Molgenis. Its meant
// to get a grip on the right variable definition that makes
// a theme dark or light.
$mg-color-primary: #5dffac;
$mg-color-primary-contrast: #3b5347;
$mg-color-secondary: #41b177;
$mg-color-secondary-contrast: #25302a;

$body-bg: #232424;
$well-bg: #292a29;

$mg-color-text: #aaa;
$mg-border-color: #323332;
$link-color: $mg-color-secondary;
$nav-tabs-active-link-hover-bg: #d5f9e6;
